# Python
__pycache__/
*.py[cod]
*.so

# Packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Deep Learning artifacts
*.pth
*.pt
*.ckpt
*.onnx

# Logs
*.log
